main{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
}

h1{
    color: #FFA000;
    font-size: 50px;
    font-weight: 700px;
    margin: 104px 0px 69px 68px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 466px;
    width: 449px;   
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 116px;
}

.container-box p {
    padding: 0;
    margin: 0;
}


.container-box a{
    text-decoration: none;
    color: #ffffff;
    background-color: #176902;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 9px 43px 10px 35px;
}

.img-container{
    width: 345px;
    height: 342px;
}

.img-container img{
    height: 100%;

}

footer{
    margin-top: 303px;
}